<div class="container1" align-self-center>

<p> Here is your link to a fun workout video/plan: </p>
<p> <% @match.each do |url| %>
  <p> <a href=<%= url.url %>>Click here to see your recommended workout plan/video! </a></p>
    <% end %>
</p>

<%= image_tag "avocado-pushup.gif"%>
<p> And here is a cute gif of an avocado doing push-up to motivate you :) </p>

</div>