/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
.middle{
    margin-top: 5% !important;
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    color: rgba(117, 193, 172, 1);
}

.container {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
}

i {
    font-size: 85%;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(/assets/success.jpg);
}
